@charset "UTF-8";
* { 
	margin: 0px;
	padding: 0px;
	list-style: none;
	color: #333333;
}

a {
	text-decoration: none;
	display: block;
}

body {
	width: 1200px;
	height: 700px;
	background-color: #ffffff;
	margin: 0 auto;
}

.top {
	width: 1200px;
	height: 100px;
	float: left;
}

.logo1 {
	width: 200px;
	height: 100px;
	background-color: aqua;
	float: left;
}

.menu {
	width: 1000px;
	height: 100px;
	line-height: 100px;
	background-color: aquamarine;
	float: left;
	position: relative;
}

.imgslide {
	float: left;
	width: 1200px;
	height: 300px;
	background-color: turquoise;
}

.contents {
	float: left;
	width: 1200px;
	height: 200px;
}

.notice {
	float: left;
	width: 400px;
	height: 200px;
	background-color: teal;
}

.banner {
	float: left;
	width: 400px;
	height: 200px;
	background-color: rgb(1, 182, 182);
}

.sc {
	float: left;
	width: 400px;
	height: 200px;
	background-color: rgb(3, 223, 223);
}

.bottom {
	float: left;
	width: 1200px;
	height: 100px;
}

.logo2 {
	float: left;
	width: 200px;
	height: 100px;
	background-color: aqua;
}

.menu2 {
	float: left;
	width: 800px;
	height: 100px;
	background-color: aquamarine;
}

.copy {
	float: left;
	width: 200px;
	height: 100px;
	background-color: turquoise;
}

.main {
	position: absolute;
	width: 800px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #333333;
	margin-top: 60px;
	margin-left: 180px;
	z-index: 1;
}

.main>li {
	float: left;
}

.main>li>a {
	width: 200px;
	height: 40px;
	line-height: 40px;
	background-color: cornsilk;
	color: #333333;
}

.main>li:hover>a {
	background-color:  cadetblue;
	color: white;
}

.sub>li>a {
	width: 200px;
	height: 40px;
	line-height: 40px;
	background-color: cornsilk;
	color: #333333;
}

.sub>li:hover>a {
	background-color:  cadetblue;
	color: white;
}

.bgmenu {
	width: 1200px;
	height: 200px;
	background-color: cornsilk;
	position: absolute;
	top: 100px;
	left: -200px;
	display: none;
	z-index: 0;
}

.sub {
	display: none;
}

.imgslide>img {
	width: 1200px;
	height: 300px;
}